<section class="footer-container">
    <div class="profile-container">
        <span>
            Hyuan
        </span>
    </div>
    <div class="buttons-container">
        <div class="footer-colors">
            <button class="square-colors" *ngFor="let item of colors" (click)="changeColor(item)" [ngStyle]="{'background-color': item}" [ngClass]="{'selected': currentColor == item}">
            </button>
        </div>
        <button class="footer-buttons" (click)="takeScreenshot()">
            Take Screenshot
        </button>
        <button class="footer-buttons" (click)="triggerFileInput()">
            Add Image
        </button>
        <button class="footer-buttons" (click)="saveCars()">
            Save Cars
        </button>
        <input type="file" hidden #fileInput (change)="uploadFile($event)">
    </div>
</section>
