<section class="footer-container">
    <div class="profile-container">
        <span>
            Hyuan
        </span>
    </div>
    <div class="buttons-container">
        <button class="footer-buttons">
            function
        </button>
        <button class="footer-buttons">
            function
        </button>
        <button class="footer-buttons">
            function
        </button>
        <button class="footer-buttons">
            function
        </button>
    </div>
</section>
