<section class="statsContainer">
    <div class="statsBar">
        <span>
            {{"acceleration" | uppercase}}
        </span>
        <div class="actualStats">
            <div class="statsContainerBar">
                <div class="statsFill">
                    <div class="statsThumb">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="statsBar">
        <span>
            {{"top speed" | uppercase}}
        </span>
        <div class="actualStats">
            <div class="statsContainerBar">
                <div class="statsFill">
                    <div class="statsThumb">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="statsBar">
        <span>
            {{"handling" | uppercase}}
        </span>
        <div class="actualStats">
            <div class="statsContainerBar">
                <div class="statsFill">
                    <div class="statsThumb">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
